<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="secure_template">
<head>
<title>Audio</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/table.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/public.css}" />
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.js"></script>
<script type="text/javascript">
</script>
<body>
	<div th:fragment="content" >
	<div class="container">
		<div th:if="${role==null}">
			<h1>不存在</h1>
			<a href="#">刷新fresh</a>
		</div>
		<div>
		<a id="modal-303936" href="#modal-container-303936" role="button" class="btn btn-default" data-toggle="modal">上传音乐</a>
		<!-- add start -->
		<div class="modal fade" id="modal-container-303936" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">
							add a audio
						</h4>
					</div>
					<div class="modal-body">
						<form role="form" class="form-inline" action="add_audio" method="post" enctype="multipart/form-data">
                			<div class="modal-body">
                			   <input class="btn btn-default btn-success" type="file" name="file" /> 
		    					<br/>
							</div>
                			<div class="modal-footer">
                				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<input class="btn btn-primary" type="submit" value="save" onclick="javascript:return confirm('em?');" />
                			</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<h3 th:if="${#lists.isEmpty(list)}">无audio</h3>
		<br/>
		<br/>
		<br/>
		<table th:if="${#lists.isEmpty(list)==false}" class="table table-condensed table-bordered table-hover">
			<caption>权限列表</caption>
			<tr style="background:purple;">
				<th>序号</th>
				<th>名称</th>
				<th>type</th>
				<th>size</th>
				<th>path</th>
				<th/>
			</tr>
			<tr th:each="item, iterStat: ${list}">
				<td th:text="${iterStat.index}+1"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.type}"></td>
				<td th:text="${item.size}"></td>
				<td>
					<audio th:src="${path+'/'+item.name}" controls="controls">
						您的浏览器不支持 audio 标签。
					</audio>
				</td>
				<td th:text="${item.uri}"></td>
				<td><a th:href="${'delete_role_permission?index='+iterStat.index}">删除</a></td>
			</tr>
		</table>
		</div>
		</div>
		</div>
	</body>
</html>