<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/table.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/public.css}"/>
<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.js"></script>
<body>
	<div id="wrapper">
   <iframe src="/mg/header.html" class="U_header"  scrolling='no' frameborder='0' width="100%"></iframe>
	 <div class="container">
	<h3 th:text="${data}"></h3>

	<table th:if="${list1}" class="gridtable">
		<caption th:text="${tablename1}"></caption>
		<tr>
			<th>序号</th>
			<th th:each="item:${colums1}" th:text="${item}"></th>
		</tr>
		<tr th:each="item,iterStat: ${list1}">
			<td th:text="${iterStat.index}"></td>
			<td th:text="${item.name}"></td>
			<td th:text="${item.value}"></td>
			<td th:text="${item.value2}"></td>
			<td th:text="${item.value3}"></td>
		</tr>
	</table>
		<div class="col-md-12 column">
            <ul class="pagination pagination-sm">
                <li>
                    <a th:if= "${(page_no-1)&gt;=0}" th:href="${uri+'?page_no='+(page_no-1)+'&amp;page_size='+page_size}">上一页</a>
                </li>
                <li th:each="no: ${page_nos}">
                    <a th:href="${uri+'?page_no='+no+'&amp;page_size='+page_size}" th:text="${(no+1)+'&nbsp;'}" th:style="${page_no==no}?'background-color:blue'" ></a>
                </li>
                <li>
                   <a th:if= "${(page_no+1)&lt;pages_num}" th:href="${uri+'?page_no='+(page_no+1)+'&amp;page_size='+page_size}">下一页</a>
                </li>
            </ul>
        </div>
	</div>
 </div>
</body>
</html>