<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="secure_template">
<head>
<title>自定义页面模板</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/table.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/public.css}" />
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.js"></script>
<script type="text/javascript">
	/*点击图片选择*/
	function _open_pic(src) 
    { 
		 console.log('_open_pic', src);
         document.getElementById(src).click(); 
    } 
	/*显示刚刚选择的图片*/
	function showImg(fileObj,imgId) {
    	console.log(imgId);
    	var file=fileObj.files[0];
    	var r = new FileReader();
    	r.readAsDataURL(file);
    	$(r).load(function() {
        	$('#'+imgId).attr("src", this.result);
    	})
	}
	/***/
	function up_goods(shop_sn, sn){
		console.log('shop_sn='+shop_sn,'sn='+ sn);
		$.post("up_goods", {"shop_sn":shop_sn,"sn":sn},function(data){
			console.log("start up_goods,shop_sn="+shop_sn+", sn="+ sn);
		
			if(data.result == 1){
				alert('操作成功!');
				document.location.href = "point_shop_mg?shop_sn="+shop_sn;
			}else{
				document.location.href = "point_shop_mg?shop_sn="+shop_sn;
			}
		});
	}
</script>
</head>
<body>
	<div th:fragment="content" >
	<div class="container">
		<div class="row clearfix" style="margin-top: 5%">
		<div class="col-md-2 column" >
			<div class="page-sidebar" style="position: fixed">
				<div>
					<h3>模板列表</h3>
				</div>
				<ul class="nav nav-list">
            		<li th:each="pg, iterStat: ${templatePages}"><a th:href="${'/mg/page?template_id='+pg.id}"><i th:text="${pg.name+id+pg.id+(template_id==pg.id)}" th:class="${template_id==pg.id?'glyphicon glyphicon-flag':''}"></i></a></li>
        		</ul>
			</div>
		</div>
		<div class="col-md-10 column">
		    <h2 th:if="${page}" th:text="${page.id+':'+page.name}"></h2>
			<a th:href="${'page_template?id='+template_id}">查看模板</a><hr/>
		 	<a th:if="${template_id}" class="btn btn-default btn-info" th:href="${'page_editor?template_id='+template_id}">+ New</a>
			<!-- <h3 th:text="${page}"></h3>
			<h3 th:text="${pages}"></h3> -->
			<div th:each="item, iterStat: ${items}">
			<label th:text="${item}"></label><br/>
			<label th:text="${'名称:'+item.name}"></label><br/>
			<label th:text="${'编号:'+item.key}"></label><br/>
			<label th:text="${'类型:'+item.type.name}" class="text-warning"></label><br/>
			<div th:if="${item.type.name=='文本'}">
				<form role="form" class="form-inline">
					<input type="text" value="标题" id="desc" name="desc" readonly="readonly"/>
				</form>
			</div>
			<div th:if="${item.type.name=='长文本'}">
				<form role="form" class="form-inline">
					<input type="text" value="标题" id="desc" name="desc" readonly="readonly"/>
					<textarea name="textarea" cols="30" rows="3" readonly="readonly">
						内容
					</textarea>
				</form>
			</div>
			<div th:if="${item.type.name=='长文本组'}">
				<!-- 循环几个例子 -->
			 	<form role="form" class="form-inline" th:each="i,iterStat : ${#numbers.sequence( 1, 3)}">
					<input type="text" value="标题" id="desc" name="desc" readonly="readonly"/>
					<textarea name="textarea" cols="30" rows="3" readonly="readonly">
						内容
					</textarea>
				</form>
			</div>
			<div th:if="${item.type.name=='图片'}">
				<input type="file" id="pic" name="pic" style="display: none" th:attr="onchange=${'showImg(this,''_pic_show'')'}"/>
				<img height="180" id="_pic_show" name="_pic_show" width="180" onclick="_open_pic()" class="img-circle img-responsive center-block" th:src="${pic}" onerror="this.onerror='';src='/mg/images/boy.png'"/>
				<img height="60" width="60" src="images/default.png"/>
			</div>
			<div th:if="${item.type.name=='图片组'}">
				<img height="60" width="60" src="images/default.png"/>
				<img height="60" width="60" src="images/default.png"/>
				<img height="60" width="60" src="images/default.png"/>
				<img height="60" width="60" src="images/ddd.png"/>
			</div>
			<a th:class="${'btn btn-small small btn-danger'}" th:href="${'delete_item?key='+item.key+'&amp;id='+id}" onclick="javascript:return confirm('确认要删除?删除后不能恢复！');">删除</a>
			<hr/>
		</div>
		<!-- 例子start -->
		<table th:if="${#lists.isEmpty(pages)==false}" class="table table-condensed table-bordered table-hover">
			<caption>页面列表</caption>
			<tr style="background:blue;">
				<th>序号</th>
				<th>id</th>
				<th>名称</th>
				<th>访问次数</th>
				<th/>
				<th/>
				<th/>
			</tr>
			<tr th:each="item, iterStat: ${pages}">
				<td th:text="${iterStat.index}+1"></td>
				<td th:text="${item.id}"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.visits}"></td>
				<td><a th:href="${'page_editor?template_id='+template_id+'&amp;id='+item.id}">编辑</a></td>
				<td><a th:href="${'page_delete?template_id='+template_id+'&amp;id='+item.id}">删除</a></td>
				<td><a th:href="${'page_rst?template_id='+template_id+'&amp;id='+item.id}">预览</a></td>
			</tr>
		</table>
		<!-- 例子end -->
		<br/>
		<br/>
		<br/>
		</div>
		</div>
		</div>
		</div>
	</body>
</html>