<!DOCTYPE html>
<!-- 仅作为模板使用,服务端不要直接返回。 使用此模板的thymeleaf页面使用<script/>等要注意放在<head/>里 -->
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>权限center</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<link rel="stylesheet" type="text/css" th:href="@{/mg/css/table.css}" />
		<link rel="stylesheet" type="text/css" th:href="@{/mg/css/public.css}" />
		<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
		<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"/>
		<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.js"></script>
	</head>
	<body>
		<div id="wrapper">
		<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse"
					data-target="#bs-example-navbar-collapse-1">
					<span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span
						class="icon-bar"></span><span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" th:href="${'/mg/secure_user'}"><span class="glyphicon glyphicon-home">Home</span></a>
			</div>
			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav">
					<li class="active"><a href="/mg/secure_roles">角色列表</a></li>
					<li><a href="/mg/secure_users">用户列表</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">功能列表<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li><a href="/mg/page_template">自定义模板</a></li>
							<li class="divider"></li>
							<li><a href="/mg/articles">图文编辑</a></li>
							<li><a href="/mg/upload_media">轮播图</a></li>
							<li class="divider"></li>
							<li><a href="/mg/lucky_draw">转盘/宝箱抽奖</a></li>
							<li><a href="/mg/point_shop_mg">积分商城</a></li>
							<li class="divider"></li>
							<li><a href="code">激活码</a></li>
						</ul>
					</li>
				</ul>
<!-- 				<form class="navbar-form navbar-left" role="search">
					<div class="form-group">
						<input type="text" class="form-control" />
					</div>
					<button type="submit" class="btn btn-default">Submit</button>
				</form> -->

				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">调试<strong class="caret"></strong></a>
						<ul class="dropdown-menu">
							<li><a href="/mg/all">访问记录</a></li>
							<li class="divider"></li>
							<li><a href="/hi">AdminServer</a></li>
							<li class="divider"></li>
							<!-- admin client -->
							<li>------<span class="glyphicon glyphicon-wrench">调试</span>-------------</li>
							<li><a href="/health" target="_blank">health</a></li>
							<li><a href="/mappings" target="_blank">mappings</a></li>
							<li><a href="/env" target="_blank">env</a></li>
							<li><a href="/metrics " target="_blank">metrics </a></li>
							<li><a href="/trace" target="_blank">trace</a></li>
							<li><a href="/beans" target="_blank">beans</a></li>
							<li><a href="/configprops" target="_blank">configprops</a></li>
							<li><a href="/autoconfig" target="_blank">autoconfig</a></li>
							<li><a href="/dump" target="_blank">dump</a></li>
							<!-- admin client end-->
						</ul>
					</li>
					<li><a href="/hi">监控主页面</a></li>
					<li>
						<img th:if="${user.pic}" height="40" width="40" th:src="${user.pic}" onerror="this.onerror='';src='/mg/images/head.png'" class="img-circle img-responsive center-block"/>
						<img th:if="${user.pic==null}" height="40" width="40" th:src="${user.gender.defaultPic}" onerror="this.onerror='';src='/mg/images/head.png'" class="img-circle img-responsive center-block"/>
					</li>
					<li class="dropdown">
			    		<a href="#" class="dropdown-toggle" data-toggle="dropdown">
			    			<strong th:text="${'你好,'+user.name}"></strong>	
							<strong class="caret"></strong>
						</a>
						<ul class="dropdown-menu">
							<li><a href="/login">注销</a></li>
							<li><a href="/sign_up">注册</a></li>
							<li class="divider"></li>
							<li><a href="/mg/secure_user"><i class="icon-cog"></i>账户中心</a></li>
						</ul>
					</li>
				</ul>
			</div>
		</nav>
		<div style="margin-top: 5%" th:include="this :: content"></div>
		<div id="footer">
    		@ sincetimes
		</div>
		</div>
	</body>
</html>