<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="secure_template">
<head>
<title>权限管理</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/table.css}" />
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/public.css}" />
<script src="http://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.js"></script>
<script type="text/javascript">
	function clear_all_score() {
		console.log("危险请求");
		$.ajax({
			type : "POST",
			/* dataType: 'json',  */
			url : "http://service.sincetimes.com/moon/clear_all_score",
			data : {
				sign : "clearall"
			},
			success : function(data) {
				console.log(data)
				$('.text_field').show().html("result:" + data);
			},
			error : function() {
				$('.text_field').show().html("获取结果失败");
			}
		});
	}
</script>
<body>
	
	<div th:fragment="content" >
	<!-- container有边距 -->
	<div class="container">
		<div th:if="${role==null}">
			<h1>角色不存在</h1>
			<a href="secure_roles">返回角色列表</a>
		</div>
		<div th:if="${role}">
		<a id="modal-303936" href="#modal-container-303936" role="button" class="btn btn-default" data-toggle="modal">添加权限</a>
		<!-- 添加权限start -->
		<div class="modal fade" id="modal-container-303936" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
						<h4 class="modal-title" id="myModalLabel">
							添加权限
						</h4>
					</div>
					<div class="modal-body">
						<form role="form" class="form-inline" action="add_role_permission" method="post">
                			<div class="modal-body">
                			    <input type="hidden" name="role_id" th:value="${role.id}" />
                				<label for="permission_name">名称:</label>
		    					<input name="permission_name" id="permission_name"/>
		    					<br/>
		    					<label for="uri">URI:</label>
		    					<input name="uri" id="uri"/>
		    					<br/>
							</div>
                			<div class="modal-footer">
                				<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
								<input class="btn btn-primary" type="submit" value="保存" onclick="javascript:return confirm('你确认要提交创建?');" />
                			</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		<h3 th:if="${#lists.isEmpty(role.permissions)}">无权限</h3>
		<br/>
		<br/>
		<br/>
		<table th:if="${#lists.isEmpty(role.permissions)==false}" class="table table-condensed table-bordered table-hover">
			<caption>权限列表</caption>
			<tr style="background:purple;">
				<th>序号</th>
				<th>名称</th>
				<th>uri</th>
				<th/>
			</tr>
			<tr th:each="item, iterStat: ${role.permissions}">
				<td th:text="${iterStat.index}+1"></td>
				<td th:text="${item.name}"></td>
				<td th:text="${item.uri}"></td>
				<td><a th:href="${'delete_role_permission?index='+iterStat.index+'&amp;role_id='+role.id}">删除</a></td>
			</tr>
		</table>
		</div>
		
		</div>
		</div>
	</body>
</html>