<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:text="${title}"></title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta charset="UTF-8" />
</head>
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/table.css}"/>
<link rel="stylesheet" type="text/css" th:href="@{/mg/css/public.css}"/>
<script src="https://libs.baidu.com/jquery/2.1.4/jquery.min.js"></script>
<link href="//cdn.bootcss.com/bootstrap/3.0.1/css/bootstrap.min.css" rel="stylesheet"/>
<script src="//cdn.bootcss.com/bootstrap/3.0.1/js/bootstrap.js"></script>
<body>
	<div id="wrapper">
   <iframe src="/mg/header.html" class="U_header"  scrolling='no' frameborder='0' width="100%"></iframe>
	 <div class="container">
	<h3 th:text="${data}"></h3>

	<table th:if="${list1}" class="gridtable">
		<caption th:text="${tablename1}"></caption>
		<tr>
			<th>序号</th>
			<th>name</th>
			<th>pic</th>
			<th th:each="item:${colums1}" th:text="${item}"></th>
		</tr>
		<tr th:each="item,iterStat: ${list1}">
			<td th:text="${iterStat.index}"></td>
			<td th:text="${item.name}"></td>
			<td><img height="24" width="24" th:src="${item.value}" /></td>
			<td th:text="${item.value2}"></td>
			<td th:text="${item.value3}"></td>
		</tr>
	</table>
	<table th:if="${list2}" class="gridtable">
		<caption th:text="${tablename2}"></caption>
		<tr>
			<th>序号</th>
			<th>name</th>
			<th>pic</th>
			<th th:each="item:${colums2}" th:text="${item}"></th>
		</tr>
		<tr th:each="item,iterStat: ${list2}">
		    <td th:text="${iterStat.index}"></td>
			<td th:text="${item.name}"></td>
			<td><img height="24" width="24" th:src="${item.value}" /></td>
			<td th:text="${item.value2}"></td>
			<td th:text="${item.value3}"></td>
		</tr>
	</table>
	</div>
 </div>
</body>
</html>