<!DOCTYPE html>
<html lang="zh-CN"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="secure_template">
<head>
<title>HOME个人中心</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script type="text/javascript">
	/** server event start*/
	if(typeof(EventSource)!=="undefined")
	{
		var source=new EventSource("/hourlinks/doevent_trace");
		//打开连接
  		source.onopen=function(event)
    	{
  			console.log("onopen",event);
    	};
    	//错误信息
  		source.onerror=function(e)
    	{
  			console.log("on err",e);
    	};
    	//处理接受到的消息
  		source.onmessage=function(event)
    	{
  			console.log("onmessage",event);
   	 		document.getElementById("msg_result").innerHTML+=event.data + "<br />";
   	 	    /* document.getElementById("_lable").innerHTML=event.data + "<br />"; */
    	};
	}
	else
  	{	
		console.log("your browser does not support server-sent events");
  		document.getElementById("msg_result").innerHTML="Sorry, your browser does not support server-sent events...";
	}
	/** server event end */
</script>
</head>
<body>
	<div th:fragment="content" >
	<div class="container" >
		<div class="row clearfix" style="margin-top: 5%">
			<div class="col-md-2 column" >
				<div class="page-sidebar" style="position: fixed">
					<ul class="nav nav-list">
            			<!-- <li class="nav-header">角色</li> -->
            			<li class="active"><a href="#"><i class="glyphicon glyphicon-home"></i> Home</a></li>
            			<li th:each="item: ${user.permissions}">
								<a th:href="${item.uri}" th:text="${item.name}"></a>
							</li>
            			<li th:if="${#lists.isEmpty(user.permissions)}">请联系管理员分配权限</li>
        			</ul>
				</div>
			</div>
			<div class="col-md-10 column">
				<div class="row clearfix">
					<div class="col-md-8 column">
				    	<img th:if="${user.pic}" height="120" width="120" th:src="${user.pic}" onerror="this.onerror='';src='/mg/images/head.png'" class="img-rounded img-responsive k"/>
						<img th:if="${user.pic==null}" height="120" width="120" th:src="${user.gender.defaultPic}" onerror="this.onerror='';src='/mg/images/head.png'" class="img-rounded img-responsive"/> 
						<br/>
						<br/>
						<label>登录名:</label><label th:text="${user.name}" class="text-info"></label>
						<br/>
						<label>昵称:</label><label th:text="${user.nickname}" class="text-info"></label>
						<br/>
						<label>密码:</label><label th:text="${user.password}" class="text-info"></label>
						<br/>
						<label>角色:</label><label th:text="${user.roleNames}" class="text-info"></label>
						<br/>
						<label>创建时间:</label><label th:text="${user.createTimeStr}" class="text-info"></label>
						<br/>
						<label>上次登录时间:</label><label th:text="${user.lastLoginTimeStr}" class="text-info"></label>
						<br/>
						<a th:if="${allowedit}" id="modal-303936" href="#modal-container-303937" role="button" class="btn btn-default btn-info" data-toggle="modal">修改密码</a>
					</div>
					<!-- 修改密码 -->
					<div class="modal fade" id="modal-container-303937" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
						<div class="modal-dialog">
					     <div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
									<h4 class="modal-title" id="myModalLabel">
										修改密码
									</h4>
								</div>
							<div class="modal-body">
								<form role="form" class="form-inline" action="change_user_psw" method="post">
                					<div class="modal-body">
		    							<label th:text="${'用户名:'+user.name}"></label>
		    							<br/>
		    							<label for="name">新密码 :</label>
		    							<input type="hidden" id="user_name" name="user_name" th:value="${user.name}" />
		    							<input name="user_password" id="user_password"/>
										<br/>
									</div>
                					<div class="modal-footer">
                						<button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
										<input class="btn btn-primary" type="submit" value="修改" onclick="javascript:return confirm('确认要修改?');" />
               				 	</div>
								</form>
							</div>
						</div>
					</div>
					</div>
					<!-- 修改文章类型名称 end -->
					<!--  -->
					<div class="col-md-4 column">
						<blockquote>
							<p>
								Manager Trace
							</p> 
							<small>---------时间 / 用户名称 /URI----------<br/><cite id="msg_result"></cite></small>
							</blockquote>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>